#wrapper{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden;
}
#wrapper #main-image{
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    padding: 0;
}
#wrapper  #main-image img{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    padding: 0;
}
#wrapper #ecology{
    width: 40%;
    height: 500px;
    margin: 30px ;
    float: left;
}
#wrapper #ecology img{
    width: 200px;
    height: 100px;
    margin: 30px 10px;
}
#wrapper #ecology img:hover{
    opacity: 0.5;
}
#wrapper #type{
    width: 40%;
    height: 500px;
    margin: 30px;
    float: right;
}
#wrapper  h2{
    width: 80%%;
    height: 50px;
    line-height: 50px;
    margin: 0 ;
    padding: 0 20px 0 10px;
    color: #92e5fe;
    background-color: #28a6cc;
    border-radius: 10px 10px 0 0 ;
}
#wrapper #type ul{
    width: 91%;
    height: 200px;
    border: 1px solid #408ca3;
    margin: 0;
    float: right;
}
#wrapper #type ul li{
    font-size: 23px;
    margin: 10px 0 0 0;
    padding: 0 0 0 20px;
    text-decoration: underline;
}
#page-top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #030304;
    border-radius: 30px;
}
#page-top p{
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    color: #92e5fe;
    text-align: center;
}
#page-top p a:hover,#page-top p a:visited{
    color: #ffffff;
}
